{% extends "base.html" %} {% load static %} {% block title %}Cart{% endblock %} {% block extra_header_contents %}
<script src="{% static 'pages/cart.js' %}"></script>
{% endblock %} {% block body %}
<h2>Shopping Basket</h2>
<div>
    {% for product in products %}
    <div>
        <ul>
            <li>Product: {{ product.product.name }}</li>
            <li>Price: £{{ product.product.price|floatformat:2 }}</li>
            <li>Quantity: {{ product.quantity }}
                <button type="submit" class="quantity-up" data-product={{product.product.id}} data-action="add"><i class="fas fa-sort-up" data-product={{product.product.id}} data-action="add"></i></button>
                <button type="submit" class="quantity-down" data-product={{product.product.id}} data-action="remove"><i class="fas fa-sort-down" data-product={{product.product.id}} data-action="remove"></i></button></li>
            <li>Total: £{{ product.get_total|floatformat:2 }}</li>
        </ul>
    </div>
    {% endfor %}
    <div>
        <h3>Products: {{ order.get_cart_items }}</h3>
        <h3>Total: £{{ order.get_cart_total|floatformat:2 }}</h3>
    </div>

    <button type="submit"><a href="{% url 'checkout' %}">Checkout</a></button>
    <button type="submit"><a href="{% url 'products' %}">Continue shopping</a></button>
</div>
{% endblock %}